.search-container {
  display: flex;
  column-gap: 20px;
}

.search-form {
  flex: 1;
  border: 3px hotpink;
  font-family: 'Courier New', Courier, monospace;
  display: grid;
  gap: 1rem;
  padding-left: 100px;
}

.search-form p {
  display: grid;
}

.search-form input,
button {
  width: 50%;
}

.person-info {
  flex: 1;
  padding-right: 100px;
}

input {
  width: 100%;
}

button {
  font-family: 'Courier New', Courier, monospace;
}
