<div class="search-container">
  <section class="search-form">
    <form (ngSubmit)="getAstronaut()">
      <p>
        <label for="name">Name</label>
        <input type="text" id="name" name="name" [(ngModel)]="inputName" />
      </p>
      <p>
        <button type="submit">Find</button>
      </p>
    </form>
  </section>
  <section class="astronaut-info">
    @if (!showError() && astronaut(); as a) {
      <div class="astronaut-header">
        <app-display-astronaut [astronaut]="a" />
      </div>
      @if (astronautDuties()) {
        @for (astronautDuty of astronautDuties(); track astronautDuty.id) {
          <div class="astronaut-duty">
            <app-display-astronaut-duty [astronautDuty]="astronautDuty" />
          </div>
        }
      }
    } @else if (showError()) {
      <article>
        <header>ERROR!</header>
        <p>{{ errorMessage() }}</p>
      </article>
    }
  </section>
</div>
