.search-container {
  display: flex;
  column-gap: 20px;
}

.search-form {
  flex: 1;
  border: 3px hotpink;
  font-family: 'Courier New', Courier, monospace;
  display: grid;
  gap: 1rem;
  padding-left: 100px;
}

.search-form p {
  display: grid;
}

.search-form input,
button {
  width: 50%;
}

.astronaut-info {
  flex: 1;
  padding-right: 300px;
}

.astronaut-header {
  padding-bottom: 40px;
}

.astronaut-duty {
  padding-bottom: 10px;
}

button {
  font-family: 'Courier New', Courier, monospace;
}
